--- 
layout: default
description: Collection of movies, actors, reviews and other related stuff.
---

<div class="row" id="master-section">
    {% assign movies = site.pages | sort: "release" | reverse%}
    {% for page in movies limit: 12 %}
    {% if page.Category == 'Movie'%}
    <div class="col-md-3">
        <a href="{{page.url}}">
            <div class="card">
                <img class="card-img-top" src="{{page.image}}" alt="{{page.title}} banner">
                <div class="card-body">
                    <h2 class="card-title">{{page.title}}<br/>({{page.release | date: "%Y"}})</h2>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}    
</div>
<div class="stories">
    <h2>Latest updates</h2>
    <hr>
    <div class="row">
    {% assign count = 0 %}
    {% for post in site.posts %}
	{% if post.type == 'News' %}
        <div class="col-md-4">
            <div class="story">
                <a href="{{post.url}}">
                    <h3>{{post.title}}</h3>
                </a>
                <p>{{post.content | strip_html | truncatewords: 30, '...'}}</p>
                <p>Posted on <em>{{post.date | date_to_string}}</em></p>
            </div>
        </div>
	{% assign count = count | plus: 1 %}
	{% if count == 9 %}
	{% break %}
	{% endif %}
	{% endif %}
        {% endfor%}
    </div>
    <h2>Recent Reviews</h2>
    <hr>
    <div class="row">
        {% assign count = 0 %}
        {% for post in site.posts %}
	{% if post.type == 'Review' %}
        <div class="col-md-4">
            <div class="story">
                <a href="{{post.url}}">
                    <h3>{{post.title}}</h3>
                </a>
                <p>{{post.content | strip_html | truncatewords: 30, '...'}}</p>
                <p>Posted on <em>{{post.date | date_to_string}}</em></p>
            </div>
        </div>
	{% assign count = count | plus: 1 %}
	{% if count == 9 %}
	{% break %}
	{% endif %}
	{% endif %}
        {% endfor%}
    </div>
</div>
