---
layout: default
name: Box Office Collection for {{page.name}}


---
{% assign movie = nil %}
{% for movie in site.pages %}
  {% if movie.uid == page.uid %}
  {% assign current_movie = movie %}
  {% break %}
  {% endif %}
{% endfor %}
<div class="row">
	<div class="col-md-12">
		<div class="post">
			<div class="post-header">
			<h1 class="post-title">{{current_movie.title}} Box Office Collection</h1>
			</div>
			<hr>
			<div class="img-container">
			<img src="{{current_movie.image}}"/>
			</div> 
			<p> {{current_movie.description}}</p>
			<div class="more-info">
				<a href="{{current_movie.url}}">More Info</a>
			</div>
			{% for location in page.locations %}
			<h2>{{location.name}} Collection</h2>
			<table class="table table-bordered table-sm">
				<thead>
					<th>Day</th>
					<th>Date</th>
					<th>Collection</th>
					<th>Gross</th>
				</thead>
				<tbody>
					{% assign day = 0 %}
					{% assign gross = 0 %}
					{% for daily in location.collection%}
						{% assign day = day | plus: 1 %}
						{% assign gross = gross | plus: daily.amount%}
						<tr>
							<td>{{day}}</td>
							<td>{{daily.date}}</td>
							<td>{{daily.amount}} {{location.denomination}}</td>
							<td>{{gross}} {{location.denomination}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endfor %}
			<div>
			<p>Kerala Box Office Collection: {{page.kerala}}</p>
			<p>Overseas Box Office Collection: {{page.overseas}}</p>
			<p>Rest Of India Box Office Collection: {{page.roi}}</p>
			<p>Dubbed version Box Office Collection: {{page.dubbed}}</p>
				<p>Total Box Office Collection: {{page.total}}</p>	
			</div>
		</div>
	</div>
</div>
<style>
	.table thead th {
		border-bottom: 3px solid #F26968;
	}
	.table-bordered th, .table-bordered td {
		border: 2px solid #F26968;
	}
	.img-container {
		background: black;
	}
	.more-info {
		text-align: center;
	}
	.more-info a{
		background: #0084b4;
		color: white;
		padding: .5em;
		margin: auto;
	}
	.post img{max-width:100%; margin: auto; display: block}
</style>
